@media screen and (min-width: 1550px) {
  #banner {
    padding: 0px $padding-x-1600p;
    padding-top: 50px;
    .caption-label,
    .caption-heading,
    .caption-paragraph {
      max-width: 40vw;
    }
    p.caption-label {
      font-size: 24px;
    }
    h1.caption-heading {
      font-size: 75px;
      span.your-word::before {
        width: 115px;
        height: 115px;
        right: -30px;
        top: -5px;
      }
    }
    p.caption-paragraph {
      font-size: 28px;
      margin-top: 8px;
    }
    .search-bar {
      padding: 15px;
      margin-top: 36px;
      max-width: 53.5vw;
      .input-group {
        svg {
          margin-left: 24px;
          width: 32px;
        }
        input.search-input {
          font-size: 22px;
        }
      }

      button.search-button {
        padding: 15px 45px;
        font-size: 22px;
      }
    }
  }
}
