@media screen and (min-width: 1400px) {
  section#destination {
    padding: 45px 0px;
    .destination-list {
      padding-left: $padding-x;
      display: flex;
      overflow-x: scroll;
      margin-top: 48px;
      user-select: none;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
