@media screen and (min-width: 2500px) {
  #introduction {
    padding: 0px $padding-x-2560p;
    padding-bottom: 180px;

    .masking {
      padding: 0px 30px 110px 30px;
      &::after {
        bottom: -180px;
        width: 700px;
        height: 700px;
      }
      &::before {
        top: 150px;
        width: 700px;
        height: 700px;
      }
      .image {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
      .caption {
        padding-bottom: 180px;
        p.caption-label {
          font-size: 36px;
        }
        h1.caption-heading {
          font-size: 95px;
        }
        p.caption-paragraph {
          font-size: 32px;
        }
        button.caption-button {
          padding: 20px 48px;
          border-radius: 10px;
          margin-top: 40px;
          font-size: 32px;
        }
      }
    }
  }
}
