@media screen and (min-width: 1200px) {
  #banner {
    padding: 0px $padding-x;
    padding-top: 50px;
    .caption-label,
    .caption-heading,
    .caption-paragraph {
      max-width: 40vw;
    }
    p.caption-label {
      font-size: 20px;
    }
    h1.caption-heading {
      font-size: 60px;
      span.your-word::before {
        width: 95px;
        height: 95px;
        right: -30px;
        top: -5px;
      }
    }
    p.caption-paragraph {
      font-size: 22px;
      margin-top: 8px;
    }
    .search-bar {
      padding: 15px;
      margin-top: 32px;
      svg {
        margin-left: 24px;
        width: 28px;
      }
      input.search-input {
        font-size: 20px;
      }
      button.search-button {
        padding: 15px 45px;
        font-size: 20px;
      }
    }
  }
}
