@media screen and (min-width: 700px) and (max-width: 999px) {
  .section-header {
    padding: 16px $padding-x-tablet;
    p.caption-label {
      font-size: 24px;
      .icons {
        margin-left: 10px;
        svg {
          margin-right: 10px;
          height: 22px;
        }
      }
    }
    h1.caption-heading {
      font-size: 50px;
    }
    p.caption-paragraph {
      font-size: 22px;
    }
    .see-more-button {
      font-size: 24px;
      padding: 16px 35px;
      border-radius: 8px;
      margin-top: 24px;
    }
  }
}
