@media screen and (min-width: 1550px) {
  section#explore-now {
    padding: 16px $padding-x-1600p;
    .card {
      padding: 75px;
      border-radius: 20px;
      h1 {
        font-size: 48px;
        text-align: center;
        width: 75%;
        font-weight: 700;
      }
      button {
        padding: 18px 44px;
        border-radius: 10px;
        margin-top: 24px;
        font-size: 24px;
        width: unset;
      }
    }
  }
}
