@media screen and (min-width: 800px) and (max-width: 999px) {
  #introduction {
    width: 100vw;
    padding: 24px $padding-x-tablet;
    .masking {
      background-color: #514270;
      padding: 36px;
      border-radius: 30px;
      .image {
        flex-basis: 100%;
        img {
          width: 100%;
        }
      }
      .caption {
        flex-basis: 100%;
        padding: 24px 0px;
        p.caption-label {
          font-size: 22px;
        }
        h1.caption-heading {
          font-size: 55px;
          span.yellow {
            color: $yellow-1;
          }
        }
        p.caption-paragraph {
          font-size: 22px;
          margin-top: 8px;
          width: 80%;
        }
        button.caption-button {
          padding: 16px 24px;
          border-radius: 8px;
          font-size: 20px;
          margin-top: 24px;
          &:hover {
            transform: scale(1.0075);
          }
        }
      }
    }
  }
}
