@media screen and (min-width: 1900px) {
  nav#navbar {
    padding: 20px $padding-x-1920p;
    .nav-brand svg {
      height: 65px;
    }
    .link-list {
      display: flex;
      align-items: center;
      a.nav-link {
        font-size: 24px;
        margin-right: 36px;
      }
    }
    .util-list {
      a.navigation-button {
        padding: 12px 28px;
        font-size: 22px;
        &.icon {
          padding: 12px 15px;
          svg {
            height: 30px;
          }
        }
      }
    }
  }
}
