@media screen and (min-width: 600px) and (max-width: 999px) {
  #testimonial {
    padding: 45px 0px;
    .flex {
      padding: 8px $padding-x-tablet;
      .testimonial-image {
        padding: 24px 0px;
        width: 80%;
        img {
          width: 100%;
        }
      }
    }
  }
}
