@media screen and (min-width: 1000px) {
  footer {
    padding: 75px $padding-x-tablet;
    background-color: $dark-purple;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .about {
      flex-basis: 45%;
      a {
        display: flex;
        svg {
          width: 235px;
          height: 55px;
        }
      }
      p {
        margin-top: 12px;
        font-size: 26px;
        width: 95%;
      }
    }
    .link-group {
      margin-top: 0px;
      .link-list {
        margin-right: 36px;
        h1 {
          font-size: 32px;
          margin-bottom: 16px;
        }
        a {
          font-size: 28px;
          margin-bottom: 8px;
        }
      }
    }
    .media-social {
      margin-top: 0px;
      h1 {
        font-size: 32px;
        margin-bottom: 16px;
      }
      a {
        margin-right: 16px;
        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
