@media screen and (min-width: 2500px) {
  footer {
    padding: 100px $padding-x-2560p;
    .about {
      flex-basis: 45%;
      a {
        svg {
          width: 295px;
          height: 80px;
        }
      }
      p {
        margin-top: 14px;
        font-size: 40px;
        width: 95%;
      }
    }
    .link-group {
      margin-top: 0px;
      flex-basis: 35%;
      .link-list {
        h1 {
          font-size: 44px;
          margin-bottom: 16px;
        }
        a {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
    }
    .media-social {
      margin-top: 0px;
      h1 {
        font-size: 44px;
        margin-bottom: 20px;
      }
      a {
        margin-right: 20px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
