@media screen and (min-width: 700px) {
  section#explore-now {
    padding: 16px $padding-x-tablet;
    .card {
      padding: 36px;
      border-radius: 18px;
      h1 {
        font-size: 40px;
      }
      button {
        padding: 18px 32px;
        border-radius: 12px;
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }
}
