$image-width: 375px;
$card-padding: 28px;
@media screen and (min-width: 2500px) {
  .destination-list-item {
    margin-right: 16px;
    .card {
      padding: $card-padding;
      width: calc(#{$image-width + $card-padding * 2});
      .image {
        width: $image-width;
        height: calc(#{$image-width / 1.22});
      }
      .flex {
        .information {
          p.destination-name {
            font-size: 40px;
          }
          p.price {
            font-size: 36px;
          }
          .rating {
            margin-top: 4px;
            svg {
              width: 22px;
              height: 22px;
            }
          }
        }
        a.arrow-container {
          width: 60px;
          height: 60px;
          border-radius: 12px;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}
