$image-width: 225px;
$card-padding: 12px;
@media screen and (min-width: 400px) and (max-width: 999px) {
  .destination-list-item {
    margin-right: 16px;
    .card {
      padding: $card-padding;
      width: calc(#{$image-width+ 2 * $card-padding});
      .image {
        width: $image-width;
        height: calc(#{$image-width/1.22});
      }
      .flex {
        .information {
          p.destination-name {
            font-size: 24px;
          }
          p.price {
            font-size: 20px;
          }
          .rating {
            margin-top: 4px;
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
        a.arrow-container {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          svg {
            width: 16px;
          }
        }
      }
    }
  }
}
