@media screen and (min-width: 1800px) {
  .testimonial-item {
    padding: 24px 0px;
    &.flex-end {
      .testimonial-card {
        border-radius: 18px 18px 0px 18px;

        &::before {
          clip-path: polygon(0 0, 100% 100%, 100% 0);
        }
      }
      .profile-card {
        img {
          margin-right: 0px;
          margin-left: 16px;
        }
      }
    }
    .testimonial-card {
      padding: 28px;
      border-radius: 18px 18px 18px 0px;
      margin-bottom: 40px;
      &::before {
        bottom: -32px;
        width: 32px;
        height: 32px;
        clip-path: polygon(0 0, 0 100%, 100% 0);
      }
      p.testimonial-caption {
        font-size: 22px;
      }
    }
    .profile-card {
      margin-top: 4px;
      img {
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }
      h1.name {
        font-size: 24px;
      }
      p.job {
        font-size: 22px;
      }
    }
  }
}
