@media screen and (min-width: 3000px) {
  .testimonial-item {
    padding: 24px 0px;
    &.flex-end {
      .testimonial-card {
        border-radius: 24px 24px 0px 24px;
        &::before {
          clip-path: polygon(0 0, 100% 100%, 100% 0);
        }
      }
      .profile-card {
        img {
          margin-right: 0px;
          margin-left: 28px;
        }
      }
    }
    .testimonial-card {
      padding: 40px;
      border-radius: 24px 24px 24px 0px;
      margin-bottom: 40px;
      &::before {
        bottom: -40px;
        width: 40px;
        height: 40px;
        clip-path: polygon(0 0, 0 100%, 100% 0);
      }
      p.testimonial-caption {
        font-size: 32px;
      }
      .rating {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    .profile-card {
      margin-top: 4px;
      img {
        width: 90px;
        height: 90px;
        margin-right: 22px;
      }
      h1.name {
        font-size: 36px;
      }
      p.job {
        font-size: 32px;
      }
    }
  }
}
