@media screen and (min-width: 1900px) {
  #introduction {
    padding: 50px $padding-x-1920p;
    padding-bottom: 175px;

    .masking {
      padding: 0px 30px 110px 30px;
      &::after {
        bottom: -175px;
      }
      .image {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
      .caption {
        padding-bottom: 120px;
        p.caption-label {
          font-size: 22px;
        }
        h1.caption-heading {
          font-size: 80px;
        }
        p.caption-paragraph {
          font-size: 24px;
        }
        button.caption-button {
          padding: 18px 36px;
          border-radius: 8px;
          margin-top: 40px;
          font-size: 24px;
        }
      }
    }
  }
}
