@media screen and (min-width: 1400px) {
  nav#navbar {
    padding: 18px $padding-x;
    .nav-brand svg {
      height: 60px;
    }
    .link-list {
      display: flex;
      align-items: center;
      a.nav-link {
        font-size: 20px;
        margin-right: 32px;
      }
    }
    .util-list {
      a.navigation-button {
        padding: 12px 28px;
        font-size: 20px;
        &.icon {
          padding: 12px 15px;
          svg {
            height: 30px;
          }
        }
      }
    }
  }
}
