@media (max-width: 999px) and (min-width: 0px) {
  nav#navbar {
    padding: 16px $padding-x-mobile;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    transition: 0.6s;
    &.scrolled {
      background-color: transparentize($light-gray, 0.15);
      backdrop-filter: blur(10px);
      box-shadow: 0px 109px 324px rgba(179, 173, 190, 0.07),
        0px 45.5376px 135.359px rgba(179, 173, 190, 0.0503198),
        0px 24.3466px 72.3696px rgba(179, 173, 190, 0.0417275),
        0px 13.6485px 40.5698px rgba(179, 173, 190, 0.035),
        0px 7.24861px 21.5463px rgba(179, 173, 190, 0.0282725),
        0px 3.01631px 8.96591px rgba(179, 173, 190, 0.0196802);
    }
    .hamburger {
      margin-right: 8px;
    }
    .nav-brand {
      display: flex;
      align-items: flex-start;
    }
    .nav-brand svg {
      height: 36px;
      width: unset;
    }
    .nav-item {
      display: flex;
      align-items: flex-start;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 1000;
      left: 0;
      top: 0;
      transform: translateX(-100vw);
      transition: 0.3s;
      transition-delay: 0.3s;

      &.show {
        transform: translateX(0px);
      }
      .link-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 60%;
        height: 100%;
        left: 0;
        top: 0;
        flex-direction: column;
        background-color: transparentize($light-gray, 0.15);
        padding: 16px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 109px 324px rgba(179, 173, 190, 0.07),
          0px 45.5376px 135.359px rgba(179, 173, 190, 0.0503198),
          0px 24.3466px 72.3696px rgba(179, 173, 190, 0.0417275),
          0px 13.6485px 40.5698px rgba(179, 173, 190, 0.035),
          0px 7.24861px 21.5463px rgba(179, 173, 190, 0.0282725),
          0px 3.01631px 8.96591px rgba(179, 173, 190, 0.0196802);
        a.nav-link {
          font-size: 18px;
          font-weight: 400;
          color: $nav-link;
          display: block;
          text-decoration: none;
          margin-bottom: 8px;
          padding: 10px 15px;
          border-radius: 6px;
          width: 100%;
          transition: 0s;
          &.active,
          &:hover {
            color: $white;
            background: linear-gradient(
              180deg,
              $purple-3 -11.19%,
              $purple-1 150.75%
            );
          }
        }
      }
      .hide-sidebar {
        width: 40%;
        height: 100%;
      }
      .util-list {
        display: none;
        align-items: flex-start;
        flex-direction: column;
        a.navigation-button {
          text-decoration: none;
          padding: 11px 24px;
          border-radius: 10px;
          background: linear-gradient(
            152deg,
            $light-gray -26%,
            $light-blue 142%
          );
          font-size: 18px;
          font-weight: 600;
          color: $nav-link;
          display: block;
          transition: 0.3s;
          &.icon {
            display: flex;
            align-items: center;
            padding: 11px 15px;
            svg {
              height: 27px;
            }
          }
          &:hover {
            transform: scale(1.075);
          }
        }
      }
    }
  }
}
@media (max-width: 999px) and (min-width: 600px) {
  nav#navbar {
    padding: 24px $padding-x-tablet;
  }
}
